<div class="card">
    <div class="card-block">
        <h3 *ngIf="userProfile">Profile information</h3>

        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Edit profile</button>

        <div *ngIf="userProfile" class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit profile information</h4>
                    </div>
                    <form name="editForm" role="form" #editForm="ngForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="field_firstName">First name</label>
                                <input type="text" class="form-control" id="field_firstName" placeholder="Enter your first name" name="firstName"
                                       [(ngModel)]="userProfile.firstName" />
                            </div>
                            <div class="form-group">
                                <label for="field_lastName">Last name</label>
                                <input type="text" class="form-control" id="field_lastName" placeholder="Enter your last name" name="lastName"
                                       [(ngModel)]="userProfile.lastName" />
                            </div>
                            <div class="form-group">
                                <label for="field_email">Email</label>
                                <input type="text" class="form-control" id="field_email" placeholder="Enter your email address" name="email"
                                       [(ngModel)]="userProfile.email" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary" data-dismiss="modal" (click)="editProfile()">Edit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div *ngIf="userProfile" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>First name</th>
                        <td>
                            <span *ngIf="userProfile.firstName">{{ userProfile.firstName }}</span>
                            <span *ngIf="!userProfile.firstName">Not set</span>
                        </td>
                    </tr>
                </thead>
                <tbody>                    
                    <tr>
                        <th>Last name</th>
                        <td>
                            <span *ngIf="userProfile.lastName">{{ userProfile.lastName }}</span>
                            <span *ngIf="!userProfile.lastName">Not set</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <span *ngIf="userProfile.email">{{ userProfile.email }}</span>
                            <span *ngIf="!userProfile.email">Not set</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  