<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">TaskManager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li *ngIf="isLoggedIn">
                    <a [routerLink]="['/project']">Projects</a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
                <li *hasAnyAuthority="'Admin'">
                    <a [routerLink]="['/user']">AdminCP</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Logged in as <span class="userName">{{ userName }}</span></li>
                        <li class="divider"></li>
                        <li>
                            <a [routerLink]="['/dashboard']"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                        </li>
                        <li class="divider"></li>
                        <li><a (click)="logout()" [routerLink]="['/home']"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn">
                <li><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>