<div>
    <h1>Entity Menu</h1>

    <p>You can select the entities from here for CRUD operations.</p>
    <ul>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/user']">
                <span class='glyphicon glyphicon-th-list'></span> Users
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/project']">
                <span class='glyphicon glyphicon-th-list'></span> Projects
            </a>
        </li>
    </ul>
</div>