<div *ngIf="task" class="container-fluid">    
    <div>
        <div class="row taskTitleContainer">
            <textarea name="title" id="title" [(ngModel)]="task.name" rows="1" style="width: 100%;"></textarea>
        </div>
        <div class="row top-buffer">
            <div class='col-sm-8 taskDescriptionContainer'>
                <p class="text-divider">Description</p>
                <textarea name="comment" id="field_comment" [(ngModel)]="task.description" style="width: 100%;"></textarea>
                <button (click)="update()">Update</button>
            </div>
            <div class='col-sm-4 taskDetailSidebar'>
                <p class="text-divider">General information</p>
                <p>
                    <b>Project: </b>
                    <span *ngIf="task.parentProject">
                        <a [routerLink]="['/project', task.parentProject.id ]">{{ task.parentProject.name }}</a>
                    </span>
                    <span *ngIf="!task.parentProject">None</span>
                </p>
                <p class="text-divider">Important dates</p>
                <p><b>Creation date: </b> {{task.creationDate | date:'medium'}}</p>
                <p><b>Due date: </b> {{task.dueDate | date:'medium'}}</p>
                <p class="text-divider">People involved</p>
                <p>
                    <span><b>Reporter: </b></span>
                    <span *ngIf="task.reporter">
                        <a [routerLink]="['../../user', task.reporter.id ]">{{ task.reporter.userName }}</a>
                    </span>
                    <span *ngIf="!task.reporter">None</span>
                </p>
                <p>
                    <span><b>Assignee: </b></span>
                    <span *ngIf="task.assignee">
                        <a [routerLink]="['../../user', task.assignee.id ]">{{ task.reporter.userName }}</a>
                    </span>
                    <span *ngIf="!task.assignee">None</span>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <task-comment [comments]="task.comments"></task-comment>
    </div>
</div>
